
#root {
  width: 100%;
  text-align: center;
}

.container-musicas{
  box-shadow: 0px 0px 5px 0px rgb(255, 255, 255); 
  flex-direction: row;
  padding: 15px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
}
.imagem-musica{
  max-width: 250px;
  max-height: 170px;
  margin-top: 30px;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.musicas:hover{
  transform: scale(1.05);
}

.musicas{
  color: #FFF;
  margin: 12px;
  box-shadow: 0px 0px 5px 0px rgb(255, 255, 255); 
  border-radius: 10px;
  width: 360px;
  transform: scale(1.0);
  transition: transform 0.3s ease;
}

.musicas h1{
  font-size: 27px;
}

.musicas p{
  padding-left: 15px;
  text-align: left;
  color: rgba(255, 255, 255, 0.87);
}

/*albuns*/

.container-albuns{
  box-shadow: 0px 0px 5px 0px rgb(255, 255, 255); 
  flex-direction: row;
  padding: 15px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;

}
.container-albuns img{
  max-width: 250px;
  max-height: 170px;
  margin-top: 30px;
  transform: scale(1.2);
  transition: transform 0.3s ease;

}

.albuns:hover{
  transform: scale(1.05);
}

.albuns{
  color: #FFF;
  margin: 12px;
  box-shadow: 0px 0px 5px 0px rgb(255, 255, 255); 
  border-radius: 10px;
  width: 360px;
  transform: scale(1.0);
  transition: transform 0.3s ease;
}

.albuns h1{
  font-size: 27px;
}
.albuns p{
  padding-left: 15px;
  text-align: left;
  color: rgba(255, 255, 255, 0.87);
}

/*Users*/

.container-usuario{
  flex-direction: row;
  padding: 15px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}
.imagem-user{
  width: 50px;
  height: 50px;
  margin-top: 30px;
  transform: scale(1.2);
  transition: transform 0.3s ease;
  border-radius: 50%;
  overflow: hidden;
}

.imagem-user img{
  width: 100%;
  height: auto;
}

.usuarios:hover{
  transform: scale(1.05);
}

.usuarios{
  color: #FFF;
  margin: 12px;
  box-shadow: 0px 0px 5px 0px rgb(255, 255, 255); 
  border-radius: 10px;
  width: 360px;
  height: 160px;
  transform: scale(1.0);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usuarios h1{
  font-size: 27px;
}
.b1{
  background: linear-gradient(to bottom, #167445, #15283d);
  margin:10px;
  display:inline-block;
  justify-content: center;
  align-content: center;
  margin-top: 23px;
  border-radius: 60px;
  width: 150px;
  height: 59px;
    font-size: 12px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold; 
  text-decoration: none;
  color: white;
}
.b1:hover{
  transform: scale(1.05);
}
.b2{
  color: white;
  text-decoration: none;
  background: linear-gradient(to bottom, #167445, #15283d);
  margin:10px;
  display:inline-block;
  justify-content: center;
  align-content: center;
  margin-top: 23px;
  border-radius: 60px;
  width: 150px;
  height: 59px;
  font-size: 12px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold; 
}
.b2:hover{
  transform: scale(1.05);
}
.b3{
  color: white;
  text-decoration: none;
  background: linear-gradient(to bottom, #167445, #15283d);
  margin:10px;
  display:inline-block;
  justify-content: center;
  align-content: center;
  margin-top: 23px;
  border-radius: 60px;
  width: 150px;
  height: 59px;
  font-size: 12px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold; 
}
.b3:hover{
  transform: scale(1.05);
}
.b4{
  color: white;
  text-decoration: none;
  background: linear-gradient(to bottom, #167445, #15283d);
  display:inline-block;
  justify-content: center;
  align-content: center;
  margin-left: 900px;
  margin-top: 23px;
  border-radius: 60px;
  width: 120px;
  height: 59px;
  font-size: 12px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold; 
}
.b4:hover{
  transform: scale(1.05);
}

.cabecario{
  width: 100%;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}